@charset "utf-8";

.title-text{
    color: red;
}
.title-background{
    background-color: #7f112e;
}
.sub-title-text{
    font-style: italic;
}

p{
    color: red;
}
.white{
    color: white;
}
body{
    background-image: url("images/FirstOrder.png")
}